@page
@model Reflex_Project.Pages.Index1Model
@{
    ViewData["Title"] = "Connexion";
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulaire de Connexion</title>
</head>
<body>

<div class="container">
    <form action="#" method="post" id="connexionForm">
        <h2>Connexion</h2>

        <label for="pseudo">Pseudo:</label>
        <input type="text" id="pseudo" name="pseudo" required>

        <label for="motDePasse">Mot de passe:</label>
        <input type="password" id="motDePasse" name="motDePasse" required>

        <button type="submit">Se connecter</button>
        
        <a href="/">S'inscrire</a>
    </form>
</div>

</body>
</html>
